.main-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  // width: 1392px;
  flex-wrap: wrap;
  padding-top: 40px;
  background-color: $bodyColor;
}

.side-bar-container {
  // width: 356px;
}
