body.dark-mode {
  background-color: #333;

  // Header Styles
  .header {
    background-color: #111;
    border: 1.5px solid rgb(248, 246, 246);
  }

  // Burger Menu
  .burger-menu {
    filter: invert(100%);
  }

  // Logo
  .logo-text {
    filter: invert(100%);
  }

  // Navigation
  .header-nav-elem {
    span {
      color: white;
    }

    .bag-icon use {
      filter: none;
    }
  }
  
  // shoppinglist Styles

  .booklist-title,
  .booklist-item-info h1,
  .booklist-description {
    color: rgb(255, 255, 255);
  }

  .empty-title {
    color: rgba(255, 255, 255, 0.6);
  }

  .booklist-item {
    background: rgb(17, 17, 17);
  }
}
