@media only screen and (max-width: 767px) {
  //Header
  .header {
    width: 100%;
  }
  //===========
  //Sidebar and Homepage

  .hide-on-mobile {
    display: none;
  }

  .home-page {
    width: 335px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 32px;
  }

  .top-books-list .top-books-item:not(:first-child) {
    display: none;
  }

  // .home-list.only-category .top-books-item:not(:first-child) {
  //   display: none;
  // }

  ul .top-books-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .support {
    margin-bottom: 40px;
  }
  //=================
  //Modal
  .is-hidden-head {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .backdrop {
    padding: auto 20px auto 20px;
  }

  .modal {
    position: absolute;
    overflow: auto;

    padding: 24px 40px;

    width: 100%;
    height: 100%;
  }

  .modal-wrapper {
    max-width: 100%;

    margin-bottom: 40px;
  }

  .modal-img {
    width: 100%;
  }

  .save-to-list {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 50px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }

  .button-close-modal {
    top: 12px;
    right: 12px;
  }
}
//================
@media (min-width: 768px) and (max-width: 1439px) {
  .section-main {
    width: calc((100% - 32px) / 2);
  }
  // .side-bar-container {
  //   width: calc((100% - 32px) / 2);
  // }
  //Header
  .header-logo {
    margin-right: 40px;
  }

  .top-books-list .top-books-item:not(:nth-child(-n + 3)) {
    display: none;
  }

  .home-list.only-category {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .top-books-item {
    @include flex-basis(25px, 3);
  }

  .top-books-img {
    width: 100%;
    height: 316px;
  }
  .header-nav-elem {
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  //================
  //Sidebar and Homepage

  .wrap-categories {
    width: 100%;
    height: 472px;
  }

  .categories-list {
    height: 100%;
  }
  .side-bar-container {
    margin: 0 auto;
    width: 704px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 100px;
  }
  .home-page {
    margin: 0 auto;
    width: 702px;
  }
  //=============
  //Modal
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 580px;

    padding: 40px;
  }

  .modal-wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  .modal-img {
    width: 192px;
    height: 281px;
  }

  .modal-text-img {
    width: calc(100% - 192px - 24px);
  }

  .shops-links {
    flex-wrap: wrap;
  }

  .save-to-list {
    height: auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }

  .button-close-modal {
    top: 24px;
    right: 24px;
  }
  //==============
  //Support Ukraine
  .support {
    width: calc((100% - 32px) / 2);
    height: 474px;
    // margin-bottom: 40px;
    padding-top: 26px;
    padding: 24px 40px 20px;
  }

  .support-title-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
  }

  .support-arrow {
    width: 38px;
    height: 38px;
  }
  //==============
}
@media screen and (min-width: 1440px) {
  //Header
  .header-logo {
    margin-right: 76px;
  }

  .main-container {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    min-width: 1392px;
    display: flex;
  }

  .home-page {
    width: 996px;
    margin-left: auto;
  }
  .home-list.only-category {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .top-books-img {
    width: 180px;
    height: 256px;
  }
  .header-nav-elem {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 24px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  .wrap-categories {
    height: 472px;
    margin-bottom: 86px;
  }
  .categories-list {
    height: 100%;
  }
  //=================
  //Sidebar and Homepage
  .section-main {
    max-width: 1440px;
  }
  // .categories-list {
  //   position: relative;
  //   width: 356px;
  //   height: 462px;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 32px;
  //   margin-bottom: 86px;
  // }

  .wrap-books {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .book-item-styles {
    width: calc((100% - 2 * 24px) / 3);
  }
  //=================
  //Modal
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 580px;

    padding: 40px;
  }

  .modal-wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  .modal-img {
    width: 192px;
    height: 281px;
  }

  .modal-text-img {
    width: calc(100% - 192px - 24px);
  }

  .shops-links {
    flex-wrap: wrap;
  }

  .save-to-list {
    height: auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }

  .button-close-modal {
    top: 24px;
    right: 24px;
  }
  //=================
  //Support Ukraine
  .support {
    min-width: 356px;
    height: 474px;
    // margin-top: 86px;
    padding-top: 26px;
    // padding: 24px 40px 20px;
  }

  .support-title-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
  }

  .support-arrow {
    width: 38px;
    height: 38px;
  }
  //==============
}
