@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap';

$black: #111;
$black-1: #202024;
$violet: #4f2ee8;
$yellow: #eac645;
$white: #fff;
$subtitle: #b4afaf;
$bodyColor: #f6f6f6;
