$primary-font: 'Montserrat', sans-serif;

$primary-font-color: #2e2f42;
$primary-input-font-color: #808080;

$btn-normal-background-color: #4e75ff;
$btn-hover-background-color: #6c8cff;

$primary-btn-font-color: #fff;

$border-normal-color: #808080;
$border-hover-color: #000;
