h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
