main {
  background-color: white;
}

// home categories

li {
  list-style: none;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.text-style-book-category {
  @include dm-sans(400);
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  @include anim(color);
  margin-bottom: 32px;
}

.home-all-categories {
}
// .wrap-categories {
//   width: 307px;
//   padding: 0px;
//   margin: 0px 20px;
// }
// .item-style:nth-child(n + 7) {
//   display: none;
// }

.link-item,
h3.home-all-categories {
  @include dm-sans(400);
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  @include anim(color);

  &:hover,
  &:focus,
  &:active {
    color: rgb(79, 46, 232);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
}

.wrap-books {
  outline: 3px yellow;
  // width: 335px;
  // height: 535px;
  // margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-direction: column;

  // .book-item-styles {
  // }

  // .wrap-item-img {
  //   .book-img {
  //   }
  // }

  .wrap-info {
    .info-item-author {
      color: rgb(180, 175, 175);
      font-style: italic;
      font-size: 12px;
      line-height: 1.17em;
      letter-spacing: -0.04em;
      text-align: left;
    }
    .info-item-name {
      color: rgb(17, 17, 17);
      font-size: 16px;
      font-weight: 700;
      line-height: 1.13em;
      letter-spacing: -0.04em;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  // ul .item-style:nth-child(n + 7) {
  //   display: block;
  // }
}
// @media (min-width: 768px) and (max-width: 1439px) {
// }
@media only screen and (min-width: 1440px) {
  .section-main {
    max-width: 1440px;
  }
  // ul .item-style:nth-child(n + 7) {
  //   display: block;
  // }
  .categories-list {
    position: relative;
    width: 356px;
    height: 462px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 86px;
  }

  .wrap-categories {
    overflow-y: auto;
    margin-bottom: 86px;
    height: 472px;
  }
  .wrap-books {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .book-item-styles {
    width: calc((100% - 2 * 24px) / 3);
  }
}
