<!-- <div class="booklist-section">
    <h1 class="booklist-title">Shopping <span class="booklist-title-span">List</span></h1>
   
    <ul class="booklist"> -->

        <!-- <li class="empty-item">
            <p class="empty-title">This page is empty, add some books and proceed to order.</p>
             <img class="empty-image" src="/src/img/shoppinglist/emptyListBook.png" alt="books">
        </li> -->

        <!-- <li class="booklist-item" data-id="${_id}">
            <div class="booklist-item-image">
                <img class="booklist-image" src="${book_image}"
                    alt="book cover" />
            </div>
            <div class="booklist-info-block">
                <div class="booklist-item-info">
                    <div class="booklist-item-info-box">
                        <div class="title-box">
                            <h1>${title}</h1>
                            <p class="booklist-list">${list_name}</p>
                        </div>
                        <button type="button" class="booklist-delete-btn">
                            <img src="/src/img/shoppinglist/trash-icon.png" alt="trash-icon">
                        </button> 

                        </div>
                    <div class="description-box">
                        <p class="booklist-description">${description}</p>
                    </div>
                </div>
                <div class="booklist-item-links">
                    <p class="booklist-author">${author}</p>
                    <ul class="booklist-link-box">
                        <li class="booklist-amazon">
                            <a class="booklist-amazon-link" href="${amazonBuyLink}"
                                target="_blank">Am</a>
                        </li>
                        <li class="booklist-apple">
                            <a class="booklist-apple-link" href="${appleBuyLink}"
                                target="_blank">Ap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li> -->

        <!-- <li class="booklist-item" data-id="643282b1e85766588626a085">

            <div class="booklist-item-image">
                <img class="booklist-image" src="https://storage.googleapis.com/du-prd/books/images/9780385547345.jpg" alt="book cover" />
            </div>

            <div class="booklist-info-block">

                <div class="booklist-item-info">
                    <div class="booklist-item-info-box">
                        <div class="title-box">
                            <h1>LESSONS IN CHEMISTRY</h1>
                            <p class="booklist-list">Audio Fiction</p>
                        </div>
                                <button type="button" class="booklist-delete-btn">
                                    <img src="/src/img/shoppinglist/trash-icon.png" alt="trash-icon">
                                </button>
                        </div>
                    <div class="description-box">
                        <p class="booklist-description">A scientist and single mother living in California in the 1960s becomes a star on a TV cooking show. Read by Miran Raison, Pandora Sykes and the author. 11 hours, 55 minutes unabridged.</p>
                    </div>
                </div>

                <div class="booklist-item-links">
                    <p class="booklist-author">Bonnie Garmus</p>
                    <ul class="booklist-link-box">
                        <li class="booklist-amazon">
                            <a class="booklist-amazon-link" href="https://www.amazon.com/dp/038554734X?tag=NYTBSREV-20" target="_blank">Am</a>
                        </li>
                        <li class="booklist-apple">
                            <a class="booklist-apple-link" href="https://goto.applebooks.apple/9780593507537?at=10lIEQ" target="_blank">Ap</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </li>

       
    </ul>
</div> -->


<!-- 
        <li class="booklist-item" data-id="${_id}">
    <div class="booklist-item-image">
        <img class="booklist-image" src="${book_image}"
            alt="book cover" />
    </div>
    <div class="booklist-info-block">
        <div class="booklist-item-info">
            <h1>${title}</h1>
            <p class="booklist-list">${list_name}</p>
            <div class="description-box">
                <p class="booklist-description">${description}</p>
            </div>
        </div>
        <div class="booklist-item-links">
            <p class="booklist-author">${author}</p>
            <ul class="booklist-link-box">
                <li class="booklist-amazon">
                    <a class="booklist-amazon-link" href="${amazonBuyLink}"
                        target="_blank">Am</a>
                </li>
                <li class="booklist-apple">
                    <a class="booklist-apple-link" href="${ppleBuyLink}"
                        target="_blank">Ap</a>
                </li>
            </ul>

        </div>
    </div>
</li> 

<li class="booklist-item" data-id="${_id}">
    <div class="booklist-item-image">
        <img class="booklist-image" src="${book_image}" alt="book cover" />
    </div>
    <div class="booklist-info-block">
        <div class="booklist-item-info">
            <div class="booklist-item-info-box">
                <div class="title-box">
                    <h1>${title}</h1>
                    <p class="booklist-list">${list_name}</p>
                </div>
                <button type="button" class="booklist-delete-btn" data-id="${_id}">X</button>
            </div>
            <div class="description-box">
                <p class="booklist-description">${description}</p>
            </div>
        </div>
        <div class="booklist-item-links">
            <p class="booklist-author">>${author}</p>
            <ul class="booklist-link-box">
                <li class="booklist-amazon">
                    <a class="booklist-amazon-link" href="${amazonBuyLink}" target="_blank">Am</a>
                </li>
                <li class="booklist-apple">
                    <a class="booklist-apple-link" href="${ppleBuyLink}" target="_blank">Ap</a>
                </li>
            </ul>

        </div>
    </div>
</li> -->

