<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="button-close close" data-modal-close>
      <svg class="modal-icon close" width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <img src="./images/computer_photo.jpg" class="modal-img" />
      <div>
        <h2 class="book-title">Title</h2>
        <p class="book-author"></p>
        <p class="book-description">About book</p>
        <ul class="shops-links list"></ul>
      </div>
    </div>
    <button class="save-to-list">ADD TO SHOPPING LIST</button>
  </div>
</div>
