<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="button-close-modal close" data-modal-close>
      <svg class="modal-icon close" width="14" height="14">
        <use href="../../img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <img src="" class="modal-img" />
      <div class="modal-text-img">
        <h2 class="book-title">Title</h2>
        <p class="book-author"></p>
        <p class="book-description">About book</p>
        <ul class="shops-links list"></ul>
      </div>
    </div>
    <button class="save-to-list">ADD TO SHOPPING LIST</button>
  </div>
</div>
