<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="button-close-modal close" data-modal-close>
      <svg class="modal-icon close" width="14" height="14">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <img
        src="./../../img/shops/no-image.png"
        alt="Sorry, something go wrong!"
        class="modal-img"
      />
      <div class="modal-text-img">
        <h2 class="book-title">Title</h2>
        <p class="book-author"></p>
        <p class="book-description">About book</p>
        <ul class="shops-links list"></ul>
      </div>
    </div>
    <button class="save-to-list"></button>
    <p class="shopping-list-message">
      Congratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list"
    </p>
  </div>
</div>
