.booklist-section {
  border: 5px solid black;
  margin: 0 auto;

}

.booklist-title {
  @include dm-sans(700);
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -4%;
  text-align: left;
  color: rgb(17, 17, 17);
  margin-left: 20px;
}

.booklist-item-info-box {
  display: flex;
}

.booklist-item-info h1 {
  @include dm-sans(700);
  color: rgb(17, 17, 17);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.booklist-list {
  @include dm-sans(400);
  color: rgb(180, 175, 175);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: left;
  margin-bottom: 8px;
}

.booklist-description {
  @include dm-sans(400);
  color: rgb(17, 17, 17);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
  width: 193px;
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.booklist-author {
  @include dm-sans(400);
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: left;
  padding-top: auto;
}

.booklist-image {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 14px;
  margin-left: 14px;
}

.empty-title {
  @include dm-sans(400);
  width: 244px;
  height: 36px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 14px;
}

.empty-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booklist-title-span {
  @include dm-sans(700);
  color: rgb(79, 46, 232);
}

.booklist-trash-icon {
  display: block;
  color: white;
}

.booklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.booklist-item-image {
}

.booklist-item {
  width: 335px;
  height: 170px;
  display: flex;
  box-sizing: border-box;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding-top: 14px;
  padding-bottom: 14px;

}

.booklist-item-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.booklist-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booklist-item-links {
  display: flex;
  justify-content: space-between;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.item-high-box {
  display: flex;
  justify-content: space-between;
}

.booklist-link-box {
  display: flex;
  gap: 8px;
}

.booklist-delete-btn {
  width: 30px;
  height: 30px;
  display: block;
  
}

/* Media queries*/
@media only screen and (max-width: 767px) {
}

// ===========DESKTOP=====================

@media screen and (min-width: 768px) {
  .booklist-section {

    border: 5px solid black;
  }

  .booklist-item {
    width: 704px;
    height: 213px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .booklist-title {
    font-size: 48px;
    line-height: 52px;
    margin-left: 32px;
  }

  .booklist-list {
    margin-bottom: 14px;
  }

  .booklist-description {
    width: 508px;
    height: 53px;
  }

  .booklist-image {
    border-radius: 8px;
    max-width: 116px;
    max-height: 165px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .empty-title {
    width: 349px;
    height: 48px;
    margin-top: 100px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
   
  .booklist-link-box {
    gap: 16px;
  }

  .title-box {
  }
}

// ============KOMP====================

@media screen and (min-width: 1440px) {
  .booklist-section {

    border: 5px solid black;
  }

  .booklist-image {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-right: 14px;
    margin-left: 14px;
  }

  .booklist-item {
    width: 996px;
    height: 213px;
  }

  .booklist-title {
    margin-left: 40px;
  }

  .booklist-description {
    width: 808px;
    height: 53px;
  }
}

/*=======================*/
