<div class="support">
  <div class="support-title">
    <h2 class="support-title-text">Support Ukraine</h2>
    <svg class="support-svg" width="20" height="32">
      <use href="./img/supportUkraine/icons.svg#coat-of-arms"></use>
    </svg>
  </div>
  <div class="support-list">
    <ul class="support-ukraine-list js-suport-list"></ul>
  </div>
  <div class="support-arrow-wrap">
    <span class="support-arrow support-arrow-up hidden">
      <svg class="support-button" width="12" height="20">
        <use href="./img/supportUkraine/icons.svg#arrow-up"></use>
      </svg>
    </span>
    <span class="support-arrow support-arrow-down">
      <svg class="support-button" width="12" height="20">
        <use href="./img/supportUkraine/icons.svg#arrow-down"></use>
      </svg>
    </span>
  </div>
</div>
<script type="module" src="../scripts/supportUkraine.js"></script>
