body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden; /* Запобігає горизонтальному скролінгу */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  text-align: center; /* Вирівнювання тексту по центру */
  bottom: 0;
  left: 0;
}
.footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #000;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(79, 46, 232, 1);
  color: white;
  // padding: 10px;
  cursor: pointer;
  border-radius: 5px;

  border: 2px solid $violet;
  border-radius: 40px;
  padding: 10px 20px;
  min-width: 124px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $black;
  background-color: transparent;
  @include anim(background-color);
  @include anim(color);
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  background: $violet;
  color: $white;
}
@media screen and (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}
