@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap';
* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
main {
  background: #f6f6f6;
}

.section-title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

.section-title span {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.section-title span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-title-link {
  font-weight: 700;
  color: #4f2ee8;
}

button {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 28px;
  min-width: 124px;
  min-height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

button:hover {
  background: #4f2ee8;
  color: #fff;
}

body.dark-mode {
  background-color: #333;
}
body.dark-mode .header {
  background-color: #111;
  border: 1.5px solid rgb(248, 246, 246);
}
body.dark-mode .burger-menu {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
body.dark-mode .logo-text {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
body.dark-mode .header-nav-elem span {
  color: #fff;
}
body.dark-mode .header-nav-elem .bag-icon use {
  -webkit-filter: none;
          filter: none;
}
body.dark-mode .main-container {
  background-color: #111;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #f6f6f6;
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* General styles*/
.header {
  position: relative;
  z-index: 900;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 0px 0px 8px 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-elem {
  display: none;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-nav-elem span {
  color: #111;
}

.header-nav-elem .bag-icon use {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 18px 20px;
  gap: 8px;
}

.toggle-burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px 18px 0;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-theme,
.toggle-burger-menu img:last-child {
  cursor: pointer;
}

/*==========================*/
/* Burger menu  */
.mobile-menu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: radial-gradient(194.44% 191.09% at 60% -23%, rgb(79, 46, 232) 18.027%, rgb(255, 255, 255) 100%);
}

.mob-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-item-home {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 36px;
  padding: 8px 16px;
  background: #eac645;
  color: #111;
}

.menu-item-shop {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.books-img {
  width: 100%;
}

.menu-item-shop span {
  margin-right: 7px;
}

.mobile-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*==========================*/
/* Checkbox styles*/
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(79, 46, 232)), to(rgb(220, 220, 220)));
  background: linear-gradient(180deg, rgb(79, 46, 232), rgb(220, 220, 220) 100%);
  display: block;
  border-radius: 10px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(79, 46, 232)), to(rgb(104, 104, 104)));
  background: linear-gradient(180deg, rgb(79, 46, 232), rgb(104, 104, 104) 100%);
}

input:checked + label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

/*=================*/
.home-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.top-books-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.top-books-item {
  -ms-flex-preferred-size: calc((100% - 96px) / 5);
      flex-basis: calc((100% - 96px) / 5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.top-books-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.top-books-category-title {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
  text-align: left;
}

.top-books-img {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.top-books-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}

.top-books-desc {
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.see-more {
  display: block;
  margin-left: auto;
}

li {
  list-style: none;
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.link-item,
h3.text-style-book-category {
  color: rgba(17, 17, 17, 0.6);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.link-item:hover, .link-item:focus, .link-item:active,
h3.text-style-book-category:hover,
h3.text-style-book-category:focus,
h3.text-style-book-category:active {
  color: rgb(79, 46, 232);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.wrap-books {
  outline: 3px yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap-books .wrap-info .info-item-author {
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: -0.04em;
  text-align: left;
}
.wrap-books .wrap-info .info-item-name {
  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13em;
  letter-spacing: -0.04em;
  text-align: left;
}

li {
  list-style: none;
}

.wrap-categories {
  margin: 0 auto;
  width: 335px;
  overflow: hidden;
}

.categories-list {
  overflow-y: auto;
  height: 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.text-style-book-category {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  text-align: left;
  margin-bottom: 24px;
}

.list-item:hover,
.list-item:focus,
.list-item:active {
  color: rgb(79, 46, 232);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.hidden-title-category {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38/32em;
  letter-spacing: -0.04em;
  text-align: left;
}

.wrap-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.wrap-books .wrap-item-img {
  width: 335px;
  height: 571px;
}
.wrap-books .wrap-item-img .book-img {
  width: 100%;
}
.wrap-books .wrap-info .info-item-author {
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: -0.04em;
  text-align: left;
  padding-top: 4px;
}
.wrap-books .wrap-info .info-item-name {
  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13em;
  letter-spacing: -0.04em;
  text-align: left;
  padding-top: 14px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .wrap-books {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  .wrap-books .wrap-item-img {
    width: 218px;
    height: 366px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrap-books {
    max-width: 996px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  .wrap-books .wrap-item-img {
    width: 180px;
    height: 306px;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden; /* Запобігає горизонтальному скролінгу */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgb(255, 255, 255);
  text-align: center; /* Вирівнювання тексту по центру */
  bottom: 0;
  left: 0;
}

.footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #000;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgb(79, 46, 232);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 10px 20px;
  min-width: 124px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  background: #4f2ee8;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}
.support-img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  max-width: 149px;
  width: auto;
}

.support {
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
          box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.0273398757%, rgb(255, 255, 255) 100%);
  max-width: 335px;
  margin: 0 auto;
  padding: 24px 40px 26px;
  max-height: 460px;
}

.support-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 42px;
}

.support-svg {
  display: block;
  color: rgb(255, 255, 255);
}

.support-ukraine-list {
  overflow-y: hidden;
  height: 292px;
  margin-bottom: 20px;
}

.support-items:not(:last-child) {
  margin-bottom: 20px;
}

.support-arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support-button {
  width: 100%;
  fill: #4f2ee8;
}

.support-link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-height: 32px;
}

.support-arrow:hover {
  background-color: #c8c3ef;
}

.support-title-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09091;
  letter-spacing: -0.04em;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .support {
    height: 474px;
    padding-top: 26px;
    padding: 24px 40px 20px;
  }
  .support-title-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
  }
  .support-arrow {
    width: 38px;
    height: 38px;
  }
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop .modal-on {
  overflow: hidden;
}
.backdrop .modal {
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #111;
  border-radius: 18px;
}
@media (max-width: 768px) {
  .backdrop .is-hidden-head {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop .modal {
    position: absolute;
    overflow: auto;
    max-width: 335px;
    padding: 40px 24px;
    width: 100%;
    height: 100%;
  }
  .backdrop .modal-wrapper {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .backdrop .modal-img {
    width: 100%;
  }
  .backdrop .save-to-list {
    display: block;
    margin: auto;
    padding: 14px 22px;
    text-align: center;
    font-size: 14px;
  }
  .backdrop .button-close-modal {
    min-height: 0;
    top: 12px;
    right: 12px;
  }
}
@media (min-width: 768px) {
  .backdrop .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 580px;
    padding: 40px;
  }
  .backdrop .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .backdrop .modal-img {
    width: 192px;
    height: 281px;
  }
  .backdrop .modal-text-img {
    width: calc(100% - 192px - 24px);
  }
  .backdrop .shops-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .backdrop .save-to-list {
    height: auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .backdrop .button-close-modal {
    top: 24px;
    right: 24px;
  }
}
.backdrop .button-close-modal {
  min-width: 0;
  width: 28px;
  height: 28px;
  fill: black;
  position: absolute;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.backdrop .button-close-modal:active .modal-ico,
.backdrop .button-close-modal:hover .modal-ico,
.backdrop .button-close-modal:focus .modal-ico {
  fill: #4f2ee8;
  background: none;
}
.backdrop .book-title {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
}
.backdrop .book-author {
  color: #b4afaf;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 18px;
}
.backdrop .book-description {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 20px;
}
.backdrop .shops-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.backdrop .shopping-list-message {
  margin-top: 8px;
  color: rgba(17, 17, 17, 0.5019607843);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: center;
}
.backdrop .shops-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.backdrop .shops-link {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.backdrop .shops-link:hover {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  .hide-on-mobile {
    display: none;
  }
  .home-page {
    width: 335px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-title {
    font-size: 32px;
  }
  .top-books-list .top-books-item:not(:first-child) {
    display: none;
  }
  ul .top-books-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .support {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .section-main {
    width: calc((100% - 32px) / 2);
  }
  .header-logo {
    margin-right: 40px;
  }
  .top-books-list .top-books-item:not(:nth-child(-n+3)) {
    display: none;
  }
  .home-list.only-category {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .top-books-item {
    -ms-flex-preferred-size: calc((100% - 50px) / 3);
        flex-basis: calc((100% - 50px) / 3);
  }
  .top-books-img {
    width: 100%;
    height: 316px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  .wrap-categories {
    width: 100%;
    height: 472px;
  }
  .categories-list {
    height: 100%;
  }
  .side-bar-container {
    margin: 0 auto;
    width: 704px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 32px;
    margin-bottom: 100px;
  }
  .home-page {
    margin: 0 auto;
    width: 702px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid #111;
    border-radius: 18px;
    padding: 40px;
    background-color: #fff;
  }
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal-img {
    width: 192px;
    height: 281px;
  }
  .modal-text-img {
    width: calc(100% - 192px - 24px);
  }
  .shops-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .save-to-list {
    height: auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .button-close-modal {
    top: 24px;
    right: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) and (max-width: 768px) {
  .is-hidden-head {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    overflow: auto;
    max-width: 335px;
    margin: 0 auto;
    padding: 24px 40px;
    width: 100%;
    height: 100%;
  }
  .modal-wrapper {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .modal-img {
    width: 100%;
  }
  .save-to-list {
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .button-close-modal {
    top: 12px;
    right: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) and (min-width: 768px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 580px;
    padding: 40px;
  }
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal-img {
    width: 192px;
    height: 281px;
  }
  .modal-text-img {
    width: calc(100% - 192px - 24px);
  }
  .shops-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .save-to-list {
    height: auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .button-close-modal {
    top: 24px;
    right: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .support {
    width: calc((100% - 32px) / 2);
    height: 474px;
    padding-top: 26px;
    padding: 24px 40px 20px;
  }
  .support-title-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
  }
  .support-arrow {
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 76px;
  }
  .main-container {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    min-width: 1392px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page {
    width: 996px;
    margin-left: auto;
  }
  .home-list.only-category {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .top-books-img {
    width: 180px;
    height: 256px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  .wrap-categories {
    height: 472px;
    margin-bottom: 86px;
  }
  .categories-list {
    height: 100%;
  }
  .section-main {
    max-width: 1440px;
  }
  .wrap-books {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .book-item-styles {
    width: calc((100% - 48px) / 3);
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 580px;
    padding: 40px;
    background-color: #fff;
  }
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal-img {
    width: 192px;
    height: 281px;
  }
  .modal-text-img {
    width: calc(100% - 192px - 24px);
  }
  .shops-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .save-to-list {
    height: auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .button-close-modal {
    top: 24px;
    right: 24px;
  }
  .support {
    min-width: 356px;
    height: 474px;
    padding-top: 26px;
  }
  .support-title-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
  }
  .support-arrow {
    width: 38px;
    height: 38px;
  }
}
.booklist-section {
  width: 375px;
  height: 748px;
  border: 5px solid black;
  margin: 0 auto;
  display: none;
}

.booklist-title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -4%;
  text-align: left;
  color: rgb(17, 17, 17);
  margin-left: 20px;
}

.booklist-item-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booklist-item-info h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(17, 17, 17);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.booklist-list {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(180, 175, 175);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: left;
  margin-bottom: 8px;
}

.booklist-description {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 17, 17);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
  width: 193px;
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.booklist-author {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: left;
  padding-top: auto;
}

.booklist-image {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 14px;
  margin-left: 14px;
}

.empty-title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 244px;
  height: 36px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 14px;
}

.empty-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booklist-title-span {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(79, 46, 232);
}

.booklist-trash-icon {
  display: block;
  color: white;
}

.booklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.booklist-item {
  width: 335px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.booklist-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.booklist-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booklist-item-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booklist-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Media queries*/
@media screen and (min-width: 768px) {
  .booklist-section {
    width: 768px;
    height: 748px;
    border: 5px solid black;
  }
  .booklist-item {
    width: 704px;
    height: 213px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .booklist-title {
    font-size: 48px;
    line-height: 52px;
    margin-left: 32px;
  }
  .booklist-list {
    margin-bottom: 14px;
  }
  .booklist-description {
    width: 508px;
    height: 53px;
  }
  .booklist-image {
    border-radius: 8px;
    max-width: 116px;
    max-height: 165px;
    margin-right: 24px;
    margin-left: 24px;
  }
  .empty-title {
    width: 349px;
    height: 48px;
    margin-top: 100px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .booklist-section {
    width: 1440px;
    height: 748px;
    border: 5px solid black;
  }
  .booklist-image {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-right: 14px;
    margin-left: 14px;
  }
  .booklist-item {
    width: 996px;
    height: 213px;
  }
  .booklist-title {
    margin-left: 40px;
  }
  .booklist-description {
    width: 808px;
    height: 53px;
  }
}
/*=======================*//*# sourceMappingURL=main.css.map */