/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --black: #111;
  --black-1: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
  --background-color: #fff;
  --text-color: #333;
  --font-family: "DM Sans", sans-serif;
}

/*Dark mode styles */
body.dark-mode {
  background-color: #333;
}

body.dark-mode .header {
  background-color: #111;
  border: 1.5px solid rgb(248, 246, 246);
}

body.dark-mode .burger-menu {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body.dark-mode .logo-text {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body.dark-mode .header-nav-elem span {
  color: var(--white);
}

body.dark-mode .header-nav-elem .bag-icon {
  -webkit-filter: invert(0);
          filter: invert(0);
}

/*========================= */
.header {
  position: fixed;
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;
  z-index: 900;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  width: 100%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-elem {
  display: none;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-nav-elem span {
  color: var(--black);
}

.header-nav-elem .bag-icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 18px 20px;
  gap: 8px;
}

.toggle-burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px 18px 0;
  gap: 14px;
}

.toggle-theme,
.toggle-burger-menu img:last-child {
  cursor: pointer;
}

.user-icon-img {
  display: none;
}

/* Burger menu  */
.sign-up {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 20px;
  width: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 18px;
  background: var(--violet);
}

.sign-up span {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
}

.mobile-menu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: radial-gradient(194.44% 191.09% at 60% -23%, rgb(79, 46, 232) 18.027%, rgb(255, 255, 255) 100%);
}

.mob-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-item-home {
  font-family: var(--font-family);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 36px;
  padding: 8px 16px;
  background: var(--yellow);
  color: var(--black);
}

.menu-item-shop {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
}

.books-img {
  width: inherit;
  margin-top: auto;
  /* position: relative;
  right: 0;
  bottom: -61px; */
}

.menu-item-shop span {
  margin-right: 7px;
}

.mobile-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*==========================*/
/* Media queries*/
@media only screen and (max-width: 767px) {
  .header {
    width: 100%; /* Make the header take up full width on smaller screens */
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header-logo {
    margin-right: 40px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  .toggle-burger-menu {
    display: block;
    /* margin: 0 auto; */
  }
}
@media only screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}
/*=======================*/
main {
  background-color: orange;
}

footer {
  background-color: red;
  color: black;
  text-align: center;
}/*# sourceMappingURL=main.css.map */