@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap';
* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
main {
  background: #f6f6f6;
}

.section-title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

.section-title span {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.section-title span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-title-link {
  font-weight: 700;
  color: #4f2ee8;
}

button {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 28px;
  min-width: 124px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

button:hover {
  background: #4f2ee8;
  color: #fff;
}

body.dark-mode {
  background-color: #333;
}
body.dark-mode .header {
  background-color: #111;
  border: 1.5px solid rgb(248, 246, 246);
}
body.dark-mode .burger-menu {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
body.dark-mode .logo-text {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
body.dark-mode .header-nav-elem span {
  color: #fff;
}
body.dark-mode .header-nav-elem .bag-icon use {
  -webkit-filter: none;
          filter: none;
}
body.dark-mode .main-container {
  background-color: #111;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header-logo {
    margin-right: 40px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
  opacity: 0;
}

/* General styles*/
.header {
  position: relative;
  height: 64px;
  left: 0;
  top: 0;
  z-index: 900;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 0px 0px 8px 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-elem {
  display: none;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-nav-elem span {
  color: #111;
}

.header-nav-elem .bag-icon use {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 18px 20px;
  gap: 8px;
}

.toggle-burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px 18px 0;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-theme,
.toggle-burger-menu img:last-child {
  cursor: pointer;
}

/*==========================*/
/* Burger menu  */
.mobile-menu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: radial-gradient(194.44% 191.09% at 60% -23%, rgb(79, 46, 232) 18.027%, rgb(255, 255, 255) 100%);
}

.mob-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-item-home {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 36px;
  padding: 8px 16px;
  background: #eac645;
  color: #111;
}

.menu-item-shop {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.books-img {
  width: inherit;
  margin-top: auto;
}

.menu-item-shop span {
  margin-right: 7px;
}

.mobile-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*==========================*/
/* Checkbox styles*/
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(79, 46, 232)), to(rgb(220, 220, 220)));
  background: linear-gradient(180deg, rgb(79, 46, 232), rgb(220, 220, 220) 100%);
  display: block;
  border-radius: 10px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(79, 46, 232)), to(rgb(104, 104, 104)));
  background: linear-gradient(180deg, rgb(79, 46, 232), rgb(104, 104, 104) 100%);
}

input:checked + label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

/*=================*/
/* Media queries*/
@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header-logo {
    margin-right: 40px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}
/*=======================*/
.home-page {
  width: 996px;
}

.home-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.top-books-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.top-books-item {
  -ms-flex-preferred-size: calc((100% - 96px) / 5);
      flex-basis: calc((100% - 96px) / 5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.top-books-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.top-books-category-title {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
}

.top-books-img {
  border-radius: 8px;
  margin-bottom: 14px;
}

.top-books-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}

.top-books-desc {
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.see-more {
  display: block;
  margin-left: auto;
}

li {
  list-style: none;
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text-style-book-category {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  margin-bottom: 32px;
}

.link-item,
h3.home-all-categories {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.link-item:hover, .link-item:focus, .link-item:active,
h3.home-all-categories:hover,
h3.home-all-categories:focus,
h3.home-all-categories:active {
  color: rgb(79, 46, 232);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.wrap-books {
  outline: 3px yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap-books .wrap-info .info-item-author {
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: -0.04em;
  text-align: left;
}
.wrap-books .wrap-info .info-item-name {
  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13em;
  letter-spacing: -0.04em;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .side-bar-container {
    width: 335px;
    margin: auto;
  }
  .section-main {
    max-width: 100%;
  }
  .home-page {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul .top-books-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .side-bar-container {
    width: 704px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
  .home-page {
    width: 702px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-main {
    max-width: 1440px;
  }
  .categories-list {
    position: relative;
    width: 356px;
    height: 462px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    margin-bottom: 86px;
  }
  .wrap-categories {
    overflow-y: auto;
    margin-bottom: 86px;
    height: 472px;
  }
  .wrap-books {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .book-item-styles {
    width: calc((100% - 48px) / 3);
  }
}
footer {
  background-color: red;
  color: black;
  text-align: center;
}

.support-img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  max-width: 149px;
  width: auto;
}

.support {
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
          box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.0273398757%, rgb(255, 255, 255) 100%);
  max-width: 335px;
  padding: 24px 40px 26px;
  max-height: 460px;
}

.support-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 42px;
}

.support-svg {
  display: block;
  color: rgb(255, 255, 255);
}

.support-ukraine-list {
  overflow-y: hidden;
  height: 292px;
  margin-bottom: 20px;
}

.support-items:not(:last-child) {
  margin-bottom: 20px;
}

.support-arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support-button {
  width: 100%;
  fill: #4f2ee8;
}

.support-link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-height: 32px;
}

.support-arrow:hover {
  background-color: #c8c3ef;
}

.support-title-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09091;
  letter-spacing: -0.04em;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .support {
    max-width: 335px;
    height: 474px;
    padding-top: 26px;
    padding: 24px 40px 20px;
  }
  .support-title-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
  }
  .support-arrow {
    width: 38px;
    height: 38px;
  }
}
:root {
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --iris-color: rgb(77, 90, 229);
  --ocean-color: rgb(64, 75, 191);
  --navy-color: rgb(46, 47, 66);
  --green-color: rgb(49, 208, 170);
  --slate-color: rgb(67, 68, 85);
  --light-slate-color: rgb(142, 143, 153);
  --cornflower-color: rgb(231, 233, 252);
  --cloud-color: rgb(244, 244, 253);
  --navy-blue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --white-color: rgb(255, 255, 255);
  --dairy-color: rgb(252, 252, 252);
}

/* Styles for all files */
body {
  color: var(--slate-color);
  background-color: var(--white-color);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link-text {
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  border-bottom: 1px solid var(--cornflower-color);
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  color: var(--navy-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: block;
  color: var(--iris-color);
  margin-right: 76px;
}

.logo-header-studio {
  color: var(--navy-color);
}

.header-nav .header-list-link .curent {
  color: var(--ocean-color);
  position: relative;
}

.header-nav .header-list-link .curent::after {
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  background-color: var(--ocean-color);
}

.header-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header-list-link-el {
  display: block;
  position: relative;
  font-weight: 500;
  color: var(--navy-color);
  padding: 24px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link-el:hover,
.header-list-link-el:focus {
  color: var(--ocean-color);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header-list-el {
  display: block;
}

.header-address-link {
  color: var(--slate-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean-color);
}

/* Modal */
.modal-on {
  overflow: hidden;
}

@media (max-width: 768px) {
  .is-hidden-head {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--dairy-color);
  }
  .modal {
    position: fixed;
    overflow: auto;
    left: 0;
    padding: 24px 40px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: var(--dairy-color);
  }
  .modal-wrapper {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .modal-img {
    width: 100%;
  }
  .save-to-list {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 50px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .button-close {
    top: 12px;
    right: 12px;
  }
}
@media (min-width: 768px) {
  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal-color);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 580px;
    border-radius: 4px;
    padding: 40px;
    background-color: var(--dairy-color);
  }
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal-img {
    width: 192px;
    height: 281px;
  }
  .save-to-list {
    width: 500px;
    text-align: center;
    padding: 20px 0px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    gap: 10px;
  }
  .button-close {
    top: 24px;
    right: 24px;
  }
}
.button-close {
  width: 28px;
  height: 28px;
  fill: black;
  position: absolute;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.button-close:active,
.button-close:hover,
.button-close:focus {
  fill: #4f2ee8;
  border: none;
}

.book-title {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
}

.book-author {
  color: #b4afaf;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}

.book-description {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 20px;
}

.shops-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.shopping-list-message {
  margin-top: 8px;
  color: rgba(17, 17, 17, 0.5019607843);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: center;
}

/* Style for portfolio page */
/* Portfolio buttons */
.portfolio-button {
  padding: 96px 0 120px;
}

.portfolio-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.portfolio-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button-button {
  font-family: inherit;
  background-color: var(--cloud-color);
  color: var(--iris-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--cornflower-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button-button:hover,
.portfolio-button-button:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio Blocks */
.portfolio-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 48px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.portfolio-list-items-item {
  display: block;
  width: calc((100% - 48px) / 3);
}

.portfolio-list-items-item:hover,
.portfolio-list-items-item:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  width: 100%;
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

/*
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: var(--iris-color);

  transform: translatey(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;

  color: var(--cloud-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
*/
.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio-list-items-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.portfolio-list-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.portfolio-list-items-p {
  color: var(--slate-color);
}

.shops-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}/*# sourceMappingURL=main.css.map */