<section id="home-page" class="home-page">
  <h1 class="section-title js-title-is-hidden">
    Best Sellers
    <span><a class="section-title-link" href="./index.html">Books</a></span>
  </h1>
  <h1 class="section-title" style="display: none" id="categoryDisplay"></h1>
  <ul class="home-list only-category js-home-list"></ul>
</section>
<section class="home-categories-book">
  <div class="home-books wrap-books" id="books-list">
    <ul class="bok" id="home-category-books-list"></ul>
  </div>
</section>
<div></div>
<!-- <li class="book-item book-item-styles top-books-item" data-id="${_id}">  
           
          <div class="wrap-item-img top-books-link">
                  <img class="book-img" src="${book_image}" alt="" title=""/>
              
              <div class="wrap-info">
                  <h3 class="info-item-name ">
                      ${title}
                  </h3>
                   <p class="info-item-author ">
                      ${author}
                  </p>
              </div>
              </div>
         
          </li> -->
