<section id="home-page" class="home-page">
  <h1 class="section-title js-title-is-hidden">
    Best Sellers
    <span><a class="section-title-link" href="./index.html">Books</a></span>
  </h1>
  <h1 class="section-title" style="display: none" id="categoryDisplay"></h1>
  <ul class="home-list only-category js-home-list"></ul>
</section>
<section class="home-categories-book">
  <div class="home-books wrap-books" id="books-list">
    <ul class="bok" id="home-category-books-list"></ul>
  </div>
</section>
