<section class="main">
  <h2 class="main-title"></h2>
  <ul class="list">
    <p class="script">Best Sellers <span>Books</span></p>
    <ul class="books-list">
      <ul class="book-row"></ul>
      <button type="button">SEE MORE</button>
    </ul>
    <ul class="books-list">
      <ul class="book-row"></ul>
      <button type="button">SEE MORE</button>
    </ul>
    <ul class="books-list">
      <ul class="book-row"></ul>
      <button type="button">SEE MORE</button>
    </ul>
    <ul class="books-list">
      <ul class="book-row"></ul>
      <button type="button">SEE MORE</button>
    </ul>
  </ul>
</section>
