

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Modal */

.modal-on {
    overflow: hidden;
}

@media (max-width: 768px) {
    .is-hidden-head {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: auto 20px;

        background-color: $modalColor;
    }

    .modal {
        position: fixed;
        overflow: auto;

        left: 0;
        padding: 24px 40px;

        width: 100%;
        height: 100%;
        border-radius: 4px;

        background-color: $white;
    }

    .modal-wrapper {
        max-width: 100%;

        margin-bottom: 40px;
    }

    .modal-img {
        width: 100%;
    }

    .save-to-list {
        display: block;
        margin: auto;
        text-align: center;
        padding: 20px 50px;
        border: 2px solid #4f2ee8;
        border-radius: 40px;
        gap: 10px;
    }

    .button-close-modal {
        top: 12px;
        right: 12px;
    }
}

@media (min-width: 768px) {
    .backdrop {
        position: fixed;
        top: 0;

        width: 100%;
        height: 100%;

        background-color: $modalColor;
    }

    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 580px;
        border-radius: 4px;

        padding: 40px;

        background-color: $white;
    }

    .modal-wrapper {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }

    .modal-img {
        width: 192px;
        height: 281px;
    }

    .save-to-list {
        width: 500px;
        text-align: center;
        padding: 20px 0px;
        border: 2px solid #4f2ee8;
        border-radius: 40px;
        gap: 10px;
    }

    .button-close-modal {
        top: 24px;
        right: 24px;
    }
}

.button-close-modal {
    min-width: 0;
    width: 28px;
    height: 28px;
    fill: black;

    position: absolute;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background: transparent;
    cursor: pointer;
}

.button-close:active,
.button-close:hover,
.button-close:focus {
    .modal-ico{
        fill: #4f2ee8;
        border: none;
    }
}

.book-title {
    color: #111111;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
}

.book-author {
    color: #b4afaf;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
}

.book-description {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-bottom: 20px;
}

.shops-links {
    display: flex;
    gap: 20px;
}

.shopping-list-message {
    margin-top: 8px;
    color: #11111180;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
}

/* Style for portfolio page */

/* Portfolio buttons */

.portfolio-button {
    padding: 96px 0 120px;
}

.portfolio-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.portfolio-button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-button-button {
    font-family: inherit;
    background-color: var(--cloud-color);
    color: var(--iris-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;

    padding: 12px 24px;

    border: 1px solid var(--cornflower-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button-button:hover,
.portfolio-button-button:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.shops-links {
    display: flex;
    list-style: none;
}
